COMPANY_NAME="Công ty TNHH Thương Mại - Xây dựng và Dịch vụ Môi trường Thừa Thiên Huế"
COMPANY_ADDRESS="Số nhà M24, Đường 21, Khu Đông Nam Thủy An, Phường Thanh Thủy, Thành phố Huế"
COMPANY_PHONE="(+84) 383 080 398"
COMPANY_EMAIL=moitruonghcp@gmail.com
JWT_KEY=6444389d-ad1b-44fe-b2ab-121b3f92bd84
JWT_ISSUER=HCP
JWT_AUDIENCE=HCP
